# Persistence
GITLAB_DATA=/var/data/docker/gitlab

# GitLab
GITLAB_IMAGE=gitlab/gitlab-ce:12.3.2-ce.0
GITLAB_HOSTNAME=git.example.com
GITLAB_EXTERNAL_URL=https://git.example.com

# Email SMTP settings
GITLAB_SMTP_SERVER=smtp.example.com
GITLAB_SMTP_PORT=587
GITLAB_SMTP_USER=smtp-username
GITLAB_SMTP_PASSWORD=smtp-password
GITLAB_SMTP_DOMAIN=smtp-domain

# Possible values: login, plain, none
GITLAB_SMTP_AUTHENTICATION=login

GITLAB_EMAIL_FROM=git@git.example.com
GITLAB_EMAIL_REPLY=noreply@git.example.com
