# Network
HOST_PORT=9090


# Persistence
FRESHRSS_PSQL_DATA=/var/data/docker/freshrss/postgresql
FRESHRSS_DATA=/var/data/docker/freshrss/data
FRESHRSS_EXTENSIONS=/var/data/docker/freshrss/extensions

# Global settings
FRESHRSS_CRON=*/20
FRESHRSS_TIMEZONE=Australia/Melbourne
