# Network
HOST_PORT=4000
OCTOFARM_PORT=4000
SUPER_SECRET_KEY=SomeRandomString_CHANGE_ME

# Persistence
OCTOFARM_LOGS=/var/data/docker/octofarm/logs
OCTOFARM_SCRIPTS=/var/data/docker/octofarm/scripts
OCTOFARM_IMAGES=/var/data/docker/octofarm/images
